<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lll.weibo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ReadExternalStorage"/>  
    <uses-permission android:name="android.permission.WriteExternalStorage"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="lll.weibo.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lll.weibo.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.SignIn"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Dierge"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Dierge0"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.WriteWeibo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.WeiboList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.WeiboList0"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Search"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Followings"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Followers"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Followings0"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="lll.weibo.Followers0"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>